body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "panoptica-doesburg", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    background-color: #772f1a;

}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;

    background-color: rgba(0, 0, 0, 0);
}

#floating-island {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 7.5vh;

    border: 2px dashed white; /* maybe dotted or striped? */
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.3);
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 12vw;
    height: 7.5vh;
}

.sections a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;

    transition: all ease 0.2s;
}
.sections a:hover {
    font-size: 1.4rem;
    text-decoration: underline;
}

#home-section {
    
}

#logo {
    width: 50px;
    height: 50px;
}

#heading-section {
    
}

#heading {
    font-size: 2rem;
}

#about-section {
    
}

#logout-section {
    
}

/* LOGIN */
#tst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0);
}

#background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 90vh;

    border-radius: 50px;

    background-color: rgba(0, 0, 0, 0);
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 35vw;
    height: 50vh;

    border-radius: 35px;

    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #f58549;
}

#login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 30vw;
    height: 45vh;

    border-radius: 25px;

    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #eec170;
    transition: all ease 0.1s;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name-input {
    width: 20vw;
    height: 25px;

    margin-bottom: 10px;

    text-decoration: none;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-bottom: 2px solid black;

    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0);
}

#password-input {
    width: 20vw;
    height: 25px;

    margin-bottom: 10px;

    text-decoration: none;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-bottom: 2px solid black;

    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0);
}

#submit-login {
    width: 12vw;
    height: 35px;

    border: none;
    outline: none;
    border-radius: 5px;

    font-size: 1.2rem;

    background-color: #cd9a3c;
    transition: all ease 0.1s;
}

#submit-login:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #b48631;
}

/* MAIN */
#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;

    background-color: rgba(0, 0, 0, 0);
}

#content-wrapper {
    width: 50vw;
    height: auto;

    border-radius: 25px;

    background-color: white;
}